
@{
    ViewBag.Title1 = "Documentation";
    ViewBag.Title2 = "API";
    Layout = "~/Views/_Layout.cshtml";
}
<style>
    p {
        text-indent: 30px;
    }
</style>
<h3>API</h3>
<p>In computer programming, an application programming interface (API) is a set of subroutine definitions, protocols, and tools for building software. In general terms, it is a set of clearly defined methods of communication between various components. A good API makes it easier to develop a computer program by providing all the building blocks, which are then put together by the programmer. An API may be for a web-based system, operating system, database system, computer hardware, or software library. An API specification can take many forms, but often includes specifications for routines, data structures, object classes, variables, or remote calls. POSIX, Windows API and ASPI are examples of different forms of APIs. Documentation for the API is usually provided to facilitate usage and implementation.</p>
